<div id="about">
  <div id="imgprofile" style="background-image:url('{{photoUrl}}')">
    
  </div>
<form>   
      <div id="aboutinfo">
      <p>{{username}}</p>
    
      <p>Age:</p><input type="text" name="age" value="{{age}}">
       
      <p>occupation</p><input type="text" name="occupation" value="{{occupation}}"></div>
  </div>
  
  <div class="column">
  <section>
  <div class="bio">
  <span>  
  <h3>Bio</h3><br>
  <input type="text" name="bio" value="{{bio}}">
  </span>
  <span>
    <div class="column">
  <h3>Interests</h3><br>
  <input type="text" name="interests" value="{{interests}}">
  </span>
  <span>
    </div>
  <h3>Languages</h3><br>
  <input type="text" name="languages" value="{{languages}}">
  </span>
  </div>
</form>
  <button type="submit">Save</button>
</section>
