<div id="about">
  <div id="imgprofile" style="background-image:url('{{photoUrl}}')"></div>
  <form method="POST" action="/auth/myProfile">   
    <div id="aboutinfo">
      <p>{{username}}</p>
      <p>Age:</p>
      <input type="text" name="age" value="{{age}}">
      <p>occupation</p>
      <input type="text" name="occupation" value="{{occupation}}">
    </div>
</div>
  
<div class="column">
    <section>
      <div class="bio">
        <span>  
          <h3>Bio</h3><br>
          <input type="text" name="bio" value="{{bio}}">
        </span>
        <span>
          <div class="column">
            <h3>Interests</h3><br>
            <input type="text" name="interests" value="{{interests}}">
        </span>
      </div>
        <h3>Languages</h3><br>
        <input type="text" name="languages" value="{{languages}}">

        <h4>Tell others about your motivation for traveling!</h4>
        <input type="text" name="description" value="{{description}}" maxlength="100">

        <h4>I am a</h4>
        <input list="status" name="status" value="{{status}}">
        <datalist id="status">
        <option value="Traveler"></option>
        <option value="Local"></option>
        </datalist>

        <h4>Where are you planning on being? (what city?)</h4>
        <input type="text" name="location" value="{{location}}">


</div>
  <input type="submit">
   </section>
  </form>