


  <div id="about">
  <div id="imgprofile" style="background-image:url('{{photoUrl}}')">
    
  </div>
      <div id="aboutinfo">
      <p>{{username}}</p>
    
      <p>{{age}}</p>
       
      <p>{{occupation}}</p></div>
      <div>
        <button id="chat">Chat</button>
      </div>
  </div>
  

  <div class="column">
  <section>
  <div class="bio">
  <span>  
  <h3>Bio</h3><br>
  <p>{{bio}}</p>
  </span>
  <span>
    <div class="column">
  <h3>Interests</h3><br>
  <p>{{interests}}</p>
  </span>
  <span>
    </div>
  <h3>Languages</h3><br>
  <p>{{languages}}</p>
  </span>
  <span>
  <h3>Rating</h3><br>
  <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
  </span>
  </div>
</section>
<section>







  <h1>References: {{references}}</h1>
  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0PYuh3GbOstcwFJLzp6ThS_ta-XK_4vDKt5U7i18cfexXRuMX" width="50"/>
    <p>"Sed ut perspiciatis unde omnis iste natus error  veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

      </p>
  </div>
</section>
