<section class="profile">
<section id="left-section">
 

      <div id="imgprofile" style="background-image:url('{{photoUrl}}')"></div>
           <div id="textabout">
            <p id="name-profile">{{username}}</p>
            <hr>
            <p>Age: {{age}}</p>
            <p>{{occupation}}</p>
            <p>{{location}}</p>
            <p>From: {{startDate}} <br> To: {{endDate}}</p>
            </div>
            <a href="/chat"><button id="#chat-BTN-Profile">Chat</button></a>
 
    

  <div id="bio">
  <p id="h3">Bio</p>
  <p>{{bio}}</p>
                 
  </div>

</section>

<section id="right-section">

  <div id="interests">
  <p id="h3">Interests</h3><br>
  <hr> 
  <p>{{interests}}</p>
 
  </div>
  
 
  
    <div id="languages">
     
  <p id="h3">Languages</h3><br><hr> 
  <p>{{languages}}</p>
  
  
  </div>



</div>

 
 <div id="references">
   
  <p id="h3">References: {{references}}</p><hr> 
   
   
 </div></div>
 
 <div id="rating">
   
   <p id="h3">Rating</p> <div class="rating">
      
    
    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
      </div>

 

    
  
  
</section>

</section>