
<section id="top-section">
  <div id="top-profile">

{{!-- <div id="imgprofile" style="background-image:url('{{photoUrl}}')">

 </div> --}}
      <div id="imgprofile"></div>
           <div id="textabout">
            <p>Name:</p>
            <p>Age:</p>
            <p>Occupation:</p>
           
      </div>
            <button id="chat">Chat</button>
 
     </div>


</section>

<section id="middle-section">

  <section id="middle-left">
    <div id="bio">
  <p id="h3">Bio</p>
  <p>{{bio}}</p>
                  </span>
                  <span>
  </div>

  <div id="interests">
  <p id="h3">Interests</h3><br>
  <p>{{interests}}</p>
 
  </div>
  
   </section>
  
  <section id="middle-right">
    <div id="languages">
  <p id="h3">Languages</h3><br>
  <p>{{languages}}</p>
  
  
  </div>



</div>

 
 <div id="references">
   
  <p id="h3">References: {{references}}</p>
   
 </div></div>
 
</section>

 

</section>
 <section id="bottom">
    
    <div id="bottomdiv">
   <div id="rating">
  <div class="rating">
  <p id="h3">Rating</p>
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
      </div>
    </section>
